---
- name: Ensure dependencies are installed
  apt:
    name:
      - wget
      - gpg
      - apt-transport-https
      - lsb-release
    state: present
    update_cache: yes

- name: Add HashiCorp GPG key
  ansible.builtin.shell: |
    wget -O - https://apt.releases.hashicorp.com/gpg | sudo gpg --yes --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
    echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(grep -oP '(?<=UBUNTU_CODENAME=).*' /etc/os-release || lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list

- name: Update Cache after adding HashiCorp repo
  apt:
    update_cache: yes    
